---
// ↓ Importamos nuestra Plantilla Base
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca de Nosotros | Hotel Quinta Dalam">
  <main>
    <!-- * <main>: Define el contenido principal y único de la página web dentro del <body> -->

    <!-- ? Sección Acerca de -->
    <section>
      <header>
        <h2>Acerca de</h2>
      </header>
      <p>
        Nació de la inspiración por la riqueza cultural de nuestro estado.
        <strong>Hotel Quinta Dalam</strong>
        busca resaltar la belleza de los Pueblos Mágicos de Michoacán en cada detalle.
      </p>
      <p>
        Ofrecemos un ambiente acogedor y lleno de tradición, donde cada una de
        nuestras 15 habitaciones cuenta una historia diferente. ¡Ven a
        descubrirlo!
        <br />
        ¡Atrévete a descubrir esta experiencia inolvidable!
      </p>
    </section>

    <!-- ? Sección Misión -->
    <section>
      <header>
        <h2>Misión</h2>
      </header>
      <div>
        <p>
          En Hotel Quinta Dalam, nuestra misión es brindar una
          <strong>experiencia inolvidable</strong> a cada huésped, inspirada profundamente
          en la riqueza cultural y la calidez de los
          <strong>Pueblos Mágicos de Michoacán</strong>. Nos dedicamos a ofrecer
          un servicio que no solo hospeda, sino que celebra y preserva nuestras
          tradiciones, garantizando momentos de descanso y una conexión
          auténtica.
        </p>
      </div>
    </section>

    <br />

    <!-- ? Sección Visión -->
    <section>
      <header>
        <h2>Visión</h2>
      </header>
      <div>
        <p>
          Hotel Quinta Dalam es un proyecto <strong>único</strong> e inigualable.
          Buscamos ser más que un lugar de descanso; queremos ser el corazón palpitante
          de Michoacán para cada visitante.
        </p>
        <br />
        <blockquote>
          "Ser el hotel temático más amado y prestigio de la región, donde cada
          rincón cuente una historia y cada huésped se sienta en casa de una
          forma muy tradicional"
        </blockquote>
      </div>
      <div class="impulso-container">
        <h3>Lo que nos impulsa</h3>
        <div class="impulso-grid">
          <div class="impulso-item">
            <i class="fa-solid fa-heart feature-icon"></i>
            <h4>Pasión</h4>
            <p>Amamos nuestras raíces y lo transmitimos en cada detalle.</p>
          </div>
          <div class="impulso-item">
            <i class="fa-solid fa-gem feature-icon"></i>
            <h4>Excelencia</h4>
            <p>Buscamos la perfección para tu descanso y felicidad.</p>
          </div>
          <div class="impulso-item">
            <i class="fa-solid fa-hand-holding-heart feature-icon"></i>
            <h4>Hospitalidad</h4>
            <p>Te recibimos no como cliente, sino como familia.</p>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
