---
// ↓ Importamos nuestra Plantilla Base
import Layout from "../layouts/Layout.astro";
---

<Layout title="Política de Privacidad | Hotel Quinta Dalam">
  <main>
    <!-- * <main>: Define el contenido principal y único de la página web dentro del <body> -->
    <section>
      <header>
        <h2>Política de Privacidad</h2>
      </header>
      <div
        style="
            text-align: left;
            max-width: 900px;
            margin: 0 auto;
            line-height: 1.6;
          "
      >
        <!-- TODO (Alberto): Darle estilado al <div> dentro de la hoja de estilos CSS -->
        <h3>1. Recopilación de Información</h3>
        <p>
          En Hotel Quinta Dalam valoramos su privacidad. Recopilamos información
          personal que usted nos proporciona voluntariamente al momento de hacer
          una reserva, suscribirse a nuestro boletín o contactarnos. Esto
          incluye nombre, correo electrónico, teléfono y datos de pago.
        </p>

        <h3>2. Uso de la Información</h3>
        <p>
          Utilizamos sus datos para procesar sus reservas, mejorar nuestros
          servicios y comunicarnos con usted sobre promociones o información
          relevante de su estancia. No vendemos ni compartimos su información
          personal con terceros no autorizados.
        </p>

        <h3>3. Cookies</h3>
        <p>
          Nuestro sitio web utiliza cookies para mejorar la experiencia del
          usuario. Usted puede configurar su navegador para rechazar las
          cookies, aunque esto podría limitar la funcionalidad de ciertas partes
          de nuestro sitio.
        </p>

        <h3>4. Seguridad de los Datos</h3>
        <p>
          Implementamos medidas de seguridad técnicas y organizativas para
          proteger sus datos personales contra el acceso no autorizado, la
          pérdida o la alteración.
        </p>

        <h3>5. Sus Derechos</h3>
        <p>
          Usted tiene derecho a acceder, rectificar, cancelar u oponerse al
          tratamiento de sus datos personales. Para ejercer estos derechos, por
          favor contáctenos a través de nuestros canales oficiales.
        </p>
      </div>
    </section>
  </main>
</Layout>
