---
// ↓ Importamos nuestra Plantilla Base
import Layout from "../layouts/Layout.astro";
---

<Layout title="Servicios | Hotel Quinta Dalam">
  <main>
    <!-- * <main>: Define el contenido principal y único de la página web dentro del <body> -->
    <section class="hidden-item">
      <header>
        <h2>Servicios</h2>
      </header>
      <div>
        <p>
          Descubre todos los servicios con los que contamos en Hotel Quinta
          Dalam. Todo para proporcionarte una experiencia completa y única sobre
          Michoacán.
        </p>
      </div>
    </section>

    <section id="restaurante" class="hidden-item">
      <header>
        <h3>Restaurante</h3>
      </header>
      <div>
        <p>
          En <strong>Hotel Quinta Dalam</strong> contamos con nuestro propio restaurante,
          generando comodidad para nuestros clientes sin largar distancias y con una
          variedad de gastronomía impresionante.
          <br />
          ¡Descubre nuestro platillos únicos para cada lugar de Michoacán!
        </p>
      </div>
      <!-- TODO (Todos): Añadir imágenes y descripciones de platillos, además de un menú -->
    </section>

    <section id="spa" class="hidden-item">
      <header>
        <h3>Spa</h3>
      </header>
      <div>
        <p>
          Para completar gratamente con la experiencia de nuestros clientes,
          contamos con servicios de masajes y spa, para hacer de Quinta Dalam tu
          espacio seguro, relajante y cultural favorito.
        </p>
      </div>
    </section>

    <section id="piscina" class="hidden-item">
      <!-- TODO (Todos): Investigar otros servicios faltantes y reales a añadir -->
      <header>
        <h3>Piscina</h3>
      </header>
      <div>
        <p>
          En Hotel <em>Quinta Dalam</em> también contamos con una maravillosa piscina,
          especial y necesaria para esos días de verano en familia, disfrutar de un
          ambiente cálido con toda la frescura de nuestros servicios y bebidas.
        </p>
      </div>
    </section>
  </main>
</Layout>
