---
// Importamos nuestra Plantilla Base
import Layout from "../layouts/Layout.astro";
---

<Layout title="Términos y Condiciones - Quinta Dalam">
  <main>
    <!-- * <main>: Define el contenido principal y único de la página web dentro del <body> -->
    <!-- TODO (Alberto): Darle estilado a la página dentro de la hoja de estilos CSS -->
    <section id="tyc">
      <header>
        <h2>Términos y Condiciones</h2>
      </header>
      <div>
        <h3>1. Introducción</h3>
        <p>
          Bienvenido a Hotel Quinta Dalam. Al realizar una reserva, hacer uso de
          nuestras instalaciones o utilizar nuestros servicios, usted acepta
          cumplir con los siguientes términos y condiciones. Nos reservamos el
          derecho de modificar estos términos en cualquier momento.
        </p>

        <h3>2. Reservaciones y Pagos</h3>
        <p>
          Todas las reservaciones están sujetas a disponibilidad. Se requiere un
          depósito o tarjeta de crédito válida para garantizar la reserva. El
          pago restante debe liquidarse al momento del check-in.
        </p>

        <h3>3. Política de Cancelación</h3>
        <p>
          Las cancelaciones deben realizarse con al menos 48 horas de
          anticipación a la fecha de llegada para evitar cargos. Cancelaciones
          fuera de este plazo o la no presentación (No-Show) incurrirán en el
          cargo de la primera noche.
        </p>

        <h3>4. Horarios</h3>
        <p>
          <strong>Check-in:</strong> A partir de las 15:00 horas.<br />
          <strong>Check-out:</strong> Hasta las 12:00 horas del mediodía.
          <br />
          El check-out tardío está sujeto a disponibilidad y puede generar cargos
          adicionales.
        </p>

        <h3>5. Normas de Convivencia</h3>
        <p>
          Para garantizar la relajación de todos nuestros huéspedes, se prohíbe
          el ruido excesivo después de las 22:00 horas. Hotel Quinta Dalam es un
          espacio libre de humo en todas las habitaciones y áreas cerradas.
        </p>

        <h3>6. Responsabilidad</h3>
        <p>
          El hotel no se hace responsable por objetos de valor no depositados en
          la caja fuerte de la habitación o recepción. Cualquier daño causado a
          las instalaciones por el huésped será cargado a su cuenta.
        </p>

        <h3>7. Uso Justo y Correcto</h3>
        <p>
          Todas las instalaciones y servicios del hotel deben ser usados de
          manera correcta y debida, es decir:
        </p>

        <li>
          No romper ni maltratar el material de construcción de cualquiera de
          las instalaciones
        </li>
        <li>
          Respetar a todo el personal del Hotel Quinta Dalam, así como a sus
          huéspedes
        </li>
        <li>
          Hacer un uso responsable de las reservaciones y de la página web
        </li>
      </div>
    </section>
    <section id="responsabilidades">
      <header>
        <h2>Responsabilidades</h2>
      </header>
      <div>
        <p>
          A cambio de respetar dichas reglas, normas y acuerdos de Términos y
          Condiciones, nosotros, Hotel Quinta Dalam, nos comprometemos a dar
          siempre un servicio único y excelente a todos nuestros clientes. No
          discriminamos por ningún motivo; color de piel, etnia, religión,
          ideología, apariencia física, sexo o género.
          <br />
          Gracias por elegirnos como tu hotel de confianza, en Hotel Quinta Dalam
          es donde vivirás de magia de Michoacán en cada rincón.
        </p>
      </div>
    </section>
  </main>
</Layout>
