<!-- Footer -->
<footer>
  <div>
    <small>&copy; 2026 Desarrolladores del Tecnológico de Morelia</small>

    <aside class="social-box">
      <p>Síguenos</p>
      <div class="social-links">
        <a
          href="https://www.facebook.com/profile.php?id=61584681841684"
          target="_blank"
          aria-label="Facebook"
        >
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a
          href="https://www.instagram.com/quintadalam"
          target="_blank"
          aria-label="Instagram"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a
          href="https://www.tiktok.com/@quintadalam?lang=es"
          target="_blank"
          aria-label="TikTok"
        >
          <i class="fa-brands fa-tiktok"></i>
        </a>
      </div>
    </aside>
    <div class="footer-bottom">
      <!-- * Validaciones W3C -->
      <div class="w3c-validation">
        <a
          href="https://jigsaw.w3.org/css-validator/"
          target="_blank"
          aria-label="Validar CSS"
        >
          <img
            src="images/valid-css-blue.png"
            alt="¡CSS Válido!"
            loading="lazy"
          />
        </a>
        <a
          href="https://validator.w3.org/"
          target="_blank"
          aria-label="Validar HTML"
        >
          <img
            src="images/valid-html401-blue.png"
            alt="¡HTML Válido!"
            loading="lazy"
          />
        </a>
      </div>
      <a href="/tyc">
        <small>
          <i class="fa-solid fa-book"></i>
          Términos y Condiciones
        </small>
      </a>
      <a href="/privacidad">
        <small>
          <i class="fa-solid fa-shield"></i>
          Política de Privacidad
        </small>
      </a>
    </div>
  </div>
</footer>
