<header id="titulo-principal">
  <!-- * <header>: Define el encabezado de su sección, en este caso del título del <body> -->
  <!-- ? Pueden haber múltiples <header> en un solo archivo .html, ya que el <header> también define los títulos de cada sección o parte dividida -->
  <div id="titulo-hotel">
    <!-- ? <div>: Agrupa en forma de bloque las etiquetas HTML que contenga adentro y da un salto de línea -->
    <a href="#inicio">
      <h1>Hotel Quinta Dalam</h1>
    </a>
    <!-- ! <h1>: Define el título principal de la página web, en este caso el nombre del hotel -->
  </div>
  <div>
    <nav id="indice">
      <!-- ? <nav>: Nos permite tener un menú de navegación en nuestra página web, como nuestras subpáginas -->
      <!-- ? Cuando el usuario haga click en algún enlace, se dirá a la página web que se dirija a la sección correspondiente -->
      <a href="pages/acerca-de.html">Acerca de</a>
      <a href="pages/instalaciones.html">Instalaciones</a>
      <a href="pages/habitaciones.html">Habitaciones</a>
      <a href="pages/servicios.html">Servicios</a>
      <a href="pages/reservaciones.html">Reservar</a>
    </nav>
  </div>
</header>
