---
// ↓ Importamos nuestra Plantilla Base para admin/
import LayoutAdmin from "../../layouts/LayoutAdmin.astro";
---

<LayoutAdmin title="Admin Login" favicon="/images/admin-login-icon.png">
  <header class="container has-text-centered">
    <h1 class="title mt-5 is-2">Bienvenido Sr. Admin</h1>
  </header>

  <main>
    <section id="login-admin" class="section">
      <h2 class="subtitle is-4">
        <span class="icon">
          <i class="fa-solid fa-lock" aria-hidden="true"></i>
        </span>
        Inicio de sesión
      </h2>

      <div>
        <form method="post" action="/admin/admin">
          <fieldset id="admin-credenciales" class="box">
            <legend class="subtitle is-5">Credenciales de Acceso</legend>
            <!-- ? Campos de Llenado -->
            <div class="field">
              <!-- ? label con for="" explícito: vincula directamente con el input por id, más robusto para lectores de pantalla -->
              <label class="label" for="username">Usuario:</label>
              <input
                class="control"
                type="text"
                id="username"
                name="username"
                placeholder="Ingrese su usuario"
                required
                pattern="^[a-zA-Z0-9_.]+$"
                title="Por favor, ingrese un usuario válido"
              />
            </div>

            <div class="field">
              <label class="label" for="password">Contraseña:</label>
              <input
                class="control"
                type="password"
                id="password"
                name="password"
                placeholder="Ingrese su contraseña"
                required
                title="Por favor, ingrese su contraseña"
              />
            </div>
            <!-- ? Botones -->
            <div class="buttons has-addons is-centered">
              <button
                type="submit"
                class="button is-success is-medium is-reponsive is-outlined"
              >
                Iniciar Sesión
              </button>
              <button
                type="reset"
                class="button is-danger is-medium is-outlined"
              >
                Limpiar Datos
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </section>
  </main>
</LayoutAdmin>
