---
// ↓ Importamos nuestra Plantilla Base para admin/
import LayoutAdmin from "../../layouts/LayoutAdmin.astro";
// ↓ Importamos el componente de navegación reutilizable del panel
import NavAdmin from "../../components/NavAdmin.astro";
---

<LayoutAdmin title="Admin | Base de Datos" favicon="/images/database-icon.png">
  <header class="section pb-4 pt-5 has-text-centered">
    <h1 class="title is-3 mb-0">
      <i class="fa-solid fa-gears has-text-info mr-2" aria-hidden="true"></i>
      Panel de Administración
    </h1>
  </header>

  <div class="container section pt-0">
    <div class="columns">
      <!-- ! Columna 1: de Navegación -->
      <NavAdmin paginaActual="database" />

      <!-- ! Columna 2: Contenido Principal -->
      <!-- TODO: Realizar la lógica para poder visualizar, administrar y regular la BD desde este apartado -->
      <div class="column is-10">
        <main class="box content">
          <section id="database">
            <details open class="box p-4 has-background-black-ter">
              <summary class="is-clickable m-0 p-0" style="list-style: none">
                <h3 class="title is-5 is-inline-block m-0">
                  <i class="fa-solid fa-database has-text-info mr-2"></i>
                  Base de Datos
                </h3>
              </summary>
              <div class="mt-4 pl-4 border-left has-text-white">
                <p>Contenido...</p>
              </div>
            </details>
          </section>
        </main>
      </div>
    </div>
  </div>
</LayoutAdmin>
