---
// ↓ Importamos nuestra Plantilla Base para admin/
import LayoutAdmin from "../../layouts/LayoutAdmin.astro";
// ↓ Importamos el componente de navegación reutilizable del panel
import NavAdmin from "../../components/NavAdmin.astro";
import { supabase } from "../../lib/supabase";

// LA AUTENTICACIÓN AHORA LA MANEJA src/middleware.ts
---

<LayoutAdmin title="Admin | Dev" favicon="/images/dev-icono.png">
  <header class="section pb-4 pt-5 has-text-centered">
    <h1 class="title is-3 mb-0">
      <i class="fa-solid fa-gears has-text-info mr-2" aria-hidden="true"></i>
      Panel de Administración
    </h1>
  </header>

  <div class="container is-fluid section pt-0">
    <div class="columns">
      <!-- ! Columna 1: de Navegación -->
      <NavAdmin paginaActual="dev" />

      <!-- ! Columna 2: Contenido Principal -->
      <!-- TODO: Realizar toda la lógica de comunicación entre el dueño/admin y los devs -->
      <div class="column is-10">
        <main class="box content">
          <section id="dev">
            <details open class="box p-4 has-background-black-ter">
              <summary class="is-clickable m-0 p-0" style="list-style: none">
                <h3 class="title is-5 is-inline-block m-0">
                  <i class="fa-solid fa-laptop-code has-text-info mr-2"></i>
                  Desarrollo
                </h3>
              </summary>
              <div class="mt-4 pl-4 border-left has-text-white">
                <p>Por favor, ingrese un mensaje para los desarrolladores.</p>
              </div>
            </details>
          </section>
        </main>
      </div>
    </div>
  </div>
</LayoutAdmin>
