---
// ↓ Importamos nuestra Plantilla Base para admin/
import LayoutAdmin from "../../layouts/LayoutAdmin.astro";
// ↓ Importamos el componente de navegación reutilizable del panel
import NavAdmin from "../../components/NavAdmin.astro";
---

<LayoutAdmin title="Admin | Inbox" favicon="/images/inbox-icono.png">
  <header class="section pb-4 pt-5 has-text-centered">
    <h1 class="title is-3 mb-0">
      <i class="fa-solid fa-gears has-text-info mr-2" aria-hidden="true"></i>
      Panel de Administración
    </h1>
  </header>

  <div class="container section pt-0">
    <div class="columns">
      <!-- ! Columna 1: de Navegación -->
      <NavAdmin paginaActual="inbox" />

      <!-- ! Columna 2: Contenido Principal -->
      <div class="column is-10">
        <main class="box content">
          <section id="inbox">
            <!-- ? Box de Mensajes -->
            <details open class="box p-4 has-background-black-ter">
              <summary class="is-clickable m-0 p-0" style="list-style: none">
                <h3 class="title is-5 is-inline-block m-0">
                  <i class="fa-solid fa-inbox has-text-info mr-2"></i>
                  Mensajes
                </h3>
              </summary>
              <div class="mt-4 pl-4 border-left has-text-white">
                <p>¡Tienes 2 mensajes nuevos!</p>
                <div class="box">
                  <blockquote class="has-text-white-ter">
                    "¡Buenas tarde! Espero esté disfrutando de la página web,
                    cualquier cosa que necesite avísenos a la brevedad y le
                    daremos solución lo más rápido posible"
                    <footer>- <cite>José Luis</cite></footer>
                  </blockquote>
                  <blockquote class="has-text-white-ter">
                    "La página ya quedó lista y funcional, pero aún podemos
                    seguir mejorándola."
                    <footer>- <cite>José Alberto</cite></footer>
                  </blockquote>
                </div>
              </div>
            </details>
          </section>
        </main>
      </div>
    </div>
  </div>
</LayoutAdmin>
