---
import LayoutAdmin from "../../layouts/LayoutAdmin.astro";
---

<LayoutAdmin title="Admin | Panel" favicon="/images/admin-icon.png">
  <header class="section pb-4 pt-5 has-text-centered">
    <h1 class="title is-3 mb-0">
      <i class="fa-solid fa-gears has-text-info mr-2"></i>
      Panel de Administración
    </h1>
  </header>

  <div class="container section pt-0">
    <div class="columns">
      <!-- ! Columna 1: de Navegación -->
      <div class="column is-3">
        <nav id="indice" role="navigation" class="menu box">
          <p class="menu-label">Menú Principal</p>
          <ul class="menu-list">
            <li>
              <a href="/admin/panel-admin" class="is-active">
                <span class="icon is-small">
                  <i class="fa-solid fa-house mr-2"></i>
                </span>
                Vista General</a
              >
            </li>
            <li>
              <a href="/admin/inbox" class="has-text-white-ter">
                <span class="icon is-small">
                  <i class="fa-solid fa-inbox mr-2"></i>
                </span>
                Inbox</a
              >
            </li>
            <li>
              <a href="/admin/stats" class="has-text-white-ter"
                ><span class="icon is-small">
                  <i class="fa-solid fa-chart-column mr-2"></i>
                </span>
                Estadísticas</a
              >
            </li>
            <li>
              <a href="/admin/balance" class="has-text-white-ter"
                ><span class="icon is-small">
                  <i class="fa-solid fa-cash-register mr-2"></i>
                </span>
                Balance y Caja</a
              >
            </li>
            <li>
              <a href="/admin/database" class="has-text-white-ter"
                ><span class="icon is-small">
                  <i class="fa-solid fa-database mr-2"></i>
                </span>
                Base de Datos</a
              >
            </li>
            <li>
              <a href="/admin/dev" class="has-text-white-ter"
                ><span class="icon is-small">
                  <i class="fa-solid fa-laptop-code mr-2"></i>
                </span>
                Desarrollo</a
              >
            </li>
          </ul>
          <a href="/admin/admin">
            <button
              class="button is-danger is-outlined is-rounded is-responsive mt-4 is-fullwidth"
            >
              <span class="icon">
                <i class="fa-solid fa-sign-out" aria-hidden="true"></i>
              </span>
              <span>Cerrar Sesión</span>
            </button>
          </a>
        </nav>
      </div>

      <!-- ! Columna 2: Contenido Principal -->
      <!-- TODO: Realizar contenido principal, enfocado a tener un poco de todo y sea atractivo visualmente -->
      <div class="column is-10">
        <main class="box content">
          <h2 class="title is-4">En Construcción...</h2>

          <section id="vista-general">
            <div class="box has-background-black-ter">
              <p class="has-text-white">
                Esta es la vista general del panel de administración. Selecciona
                una opción del menú para continuar.
              </p>
            </div>
          </section>
        </main>
      </div>
    </div>
  </div>
</LayoutAdmin>
